In [7]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

C:\Users\jko04\AppData\Local\Temp\ipykernel_1680\3777615979.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [2]:
import pandas as pd
from main import Wallet, Coin, Transaction
import defi_tools as dft

In [62]:
txns = pd.read_csv('transactions_HIFO_Universal.csv')
txns.drop(index=len(txns)-1, inplace=True)
txns.tail()

,Date,Type,Transaction ID,Received Quantity,Received Currency,Received Currency Balance,Received Cost Basis (USD),Received Wallet,Received Address,Received Tag,...,Sent Currency Balance,Sent Cost Basis (USD),Sent Wallet,Sent Address,Sent Tag,Sent Comment,Fee Amount,Fee Currency,Realized Return (USD),Disabled
395,03/07/2022 01:51:53,Buy,NaN,10.000000,ATOM,...,...,Coinbase Pro - ATOM,NaN,NaN,...,...,...,Coinbase Pro - USD,NaN,NaN,NaN,1.120000,USD,...,NaN
396,03/14/2022 03:19:31,Buy,NaN,500.000000,USDC,...,...,Coinbase Pro - USDC,NaN,NaN,...,...,...,Coinbase Pro - USD,NaN,NaN,NaN,NaN,NaN,...,NaN
397,03/14/2022 03:23:17,Transfer,0x693b4e6f0b524a1c4959d86a81f785ff9397bbbb1d4f...,496.485537,USDC,...,...,ETH Wallet ...50a3d5 - ETH,0xedc5dfee8d76c45bf367194a4c7bb808d350a3d5,NaN,...,...,...,Coinbase Pro - USDC,0xEdC5DfEE8d76c45BF367194A4c7Bb808d350a3d5,NaN,NaN,4.515373,USDC,...,NaN
398,03/14/2022 03:24:42,Send,e6b25c3f22bf7f7ccc093e6e1354171b1e9d26be747d69...,NaN,NaN,...,...,NaN,NaN,NaN,...,...,...,ETH Wallet ...50a3d5 - ETH,0xedc5dfee8d76c45bf367194a4c7bb808d350a3d5,NaN,NaN,0.001453,ETH,...,NaN
399,03/14/2022 03:25:57,Send,0xae6319252aa5007a911e19cd619ebd745350991e767c...,NaN,NaN,...,...,NaN,NaN,NaN,...,...,...,ETH Wallet ...50a3d5 - ETH,0xedc5dfee8d76c45bf367194a4c7bb808d350a3d5,NaN,NaN,0.005348,ETH,...,NaN

In [63]:
tokens = dft.geckoFullList()
tokens.reset_index(inplace=True)
tokens = tokens[['symbol', 'id', 'name']]
tokens.symbol = tokens.symbol.str.upper()
tokens.rename(columns={'id':'nameid'}, inplace=True)

In [64]:
mapping = dict(tokens[['symbol', 'nameid']].values)
txns['received_id'] = txns['Received Currency'].map(mapping)
txns['sent_id'] = txns['Sent Currency'].map(mapping)
txns['Date'] = pd.to_datetime(txns['Date'])
txns['day'] = txns['Date'].apply(lambda x: x.strftime('%d-%m-%Y'))

In [65]:
txns.head()

,Date,Type,Transaction ID,Received Quantity,Received Currency,Received Currency Balance,Received Cost Basis (USD),Received Wallet,Received Address,Received Tag,...,Sent Address,Sent Tag,Sent Comment,Fee Amount,Fee Currency,Realized Return (USD),Disabled,received_id,sent_id,day
0,2017-12-12 18:27:37,Buy,NaN,0.563387,LTC,...,...,Coinbase - LTC Wallet,NaN,NaN,...,NaN,NaN,Bought Litecoin Using Visa debit ********6305,5.85,USD,...,NaN,litecoin,NaN,12-12-2017
1,2017-12-13 04:22:41,Buy,NaN,0.307622,LTC,...,...,Coinbase - LTC Wallet,NaN,NaN,...,NaN,NaN,Bought Litecoin Using Visa debit ********6305,3.41,USD,...,NaN,litecoin,NaN,13-12-2017
2,2017-12-13 18:35:49,Buy,NaN,0.017821,BTC,...,...,Coinbase - BTC Wallet,NaN,NaN,...,NaN,NaN,Bought Bitcoin Using Visa debit ********6305,9.26,USD,...,NaN,bitcoin,NaN,13-12-2017
3,2017-12-15 06:34:23,Buy,NaN,0.141976,ETH,...,...,Coinbase - ETH Wallet,NaN,NaN,...,NaN,NaN,Bought Ethereum Using Visa debit ********6305,3.41,USD,...,NaN,ethereum,NaN,15-12-2017
4,2017-12-21 16:13:38,Buy,NaN,0.005993,BTC,...,...,Coinbase - BTC Wallet,NaN,NaN,...,NaN,NaN,Bought Bitcoin Using Visa debit ********6305,3.41,USD,...,NaN,bitcoin,NaN,21-12-2017

In [77]:
# txns['Received Cost Basis (USD)'][0] = 1
txns.loc[txns.index == 0, 'Received Cost Basis (USD)'] = 0
txns.head()

,Date,Type,Transaction ID,Received Quantity,Received Currency,Received Currency Balance,Received Cost Basis (USD),Received Wallet,Received Address,Received Tag,...,Sent Address,Sent Tag,Sent Comment,Fee Amount,Fee Currency,Realized Return (USD),Disabled,received_id,sent_id,day
0,2017-12-12 18:27:37,Buy,NaN,0.563387,LTC,...,0,Coinbase - LTC Wallet,NaN,NaN,...,NaN,NaN,Bought Litecoin Using Visa debit ********6305,5.85,USD,...,NaN,litecoin,NaN,12-12-2017
1,2017-12-13 04:22:41,Buy,NaN,0.307622,LTC,...,...,Coinbase - LTC Wallet,NaN,NaN,...,NaN,NaN,Bought Litecoin Using Visa debit ********6305,3.41,USD,...,NaN,litecoin,NaN,13-12-2017
2,2017-12-13 18:35:49,Buy,NaN,0.017821,BTC,...,...,Coinbase - BTC Wallet,NaN,NaN,...,NaN,NaN,Bought Bitcoin Using Visa debit ********6305,9.26,USD,...,NaN,bitcoin,NaN,13-12-2017
3,2017-12-15 06:34:23,Buy,NaN,0.141976,ETH,...,...,Coinbase - ETH Wallet,NaN,NaN,...,NaN,NaN,Bought Ethereum Using Visa debit ********6305,3.41,USD,...,NaN,ethereum,NaN,15-12-2017
4,2017-12-21 16:13:38,Buy,NaN,0.005993,BTC,...,...,Coinbase - BTC Wallet,NaN,NaN,...,NaN,NaN,Bought Bitcoin Using Visa debit ********6305,3.41,USD,...,NaN,bitcoin,NaN,21-12-2017

In [78]:
from random import randint
from time import sleep

for i, row in txns.iterrows():
    txns.loc[txns.index == i, 'Received Cost Basis (USD)'] = dft.geckoPriceAt(row['received_id'], 'usd', row['day'])
    txns.loc[txns.index == i, 'Sent Cost Basis (USD)'] = dft.geckoPriceAt(row['sent_id'], 'usd', row['day'])

    sleep(randint(3,5))

nan 12-12-2017 'market_data'
nan 13-12-2017 'market_data'
nan 13-12-2017 'market_data'
nan 15-12-2017 'market_data'
nan 21-12-2017 'market_data'
nan 31-12-2017 'market_data'
nan 31-12-2017 'market_data'
nan 05-01-2018 'market_data'
nan 05-01-2018 'market_data'
nan 10-01-2018 'market_data'
nan 04-05-2018 'market_data'
nan 30-05-2018 'market_data'
nan 12-07-2018 'market_data'
nan 26-07-2018 'market_data'
nan 02-09-2018 'market_data'
nan 02-09-2018 'market_data'
nan 05-09-2018 'market_data'
nan 05-09-2018 'market_data'
nan 14-09-2018 'market_data'
nan 14-09-2018 'market_data'
nan 14-09-2018 'market_data'
nan 14-09-2018 'market_data'
nan 21-09-2018 'market_data'
nan 21-09-2018 'market_data'
nan 24-09-2018 'market_data'
nan 02-10-2018 'market_data'
nan 02-10-2018 'market_data'
nan 02-10-2018 'market_data'
nan 02-10-2018 'market_data'
nan 09-10-2018 'market_data'
nan 09-10-2018 'market_data'
nan 14-10-2018 'market_data'
nan 18-10-2018 'market_data'
nan 25-10-2018 'market_data'
nan 25-10-2018 'market_data'
nan 08-11-2018 'market_data'
nan 08-11-2018 'market_data'
nan 30-04-2019 'market_data'
nan 30-04-2019 'market_data'
nan 30-04-2019 'market_data'
nan 30-04-2019 'market_data'
nan 30-04-2019 'market_data'
nan 30-04-2019 'market_data'
nan 30-04-2019 'market_data'
nan 30-04-2019 'market_data'
nan 30-04-2019 'market_data'
nan 12-02-2020 'market_data'
nan 12-02-2020 'market_data'
nan 12-02-2020 'market_data'
nan 12-02-2020 'market_data'
nan 18-02-2020 'market_data'
nan 12-03-2020 'market_data'
nan 12-03-2020 'market_data'
nan 12-03-2020 'market_data'
nan 12-03-2020 'market_data'
nan 18-03-2020 'market_data'
nan 18-03-2020 'market_data'
nan 20-03-2020 'market_data'
nan 20-03-2020 'market_data'
nan 20-03-2020 'market_data'
nan 20-03-2020 'market_data'
nan 24-03-2020 'market_data'
nan 25-03-2020 'market_data'
nan 25-03-2020 'market_data'
nan 25-03-2020 'market_data'
nan 25-03-2020 'market_data'
nan 31-03-2020 'market_data'
nan 31-03-2020 'market_data'
nan 31-03-2020 'market_data'
nan 31-03-2020 'market_data'
nan 24-04-2020 'market_data'
nan 09-07-2020 'market_data'
nan 09-07-2020 'market_data'
nan 09-07-2020 'market_data'
nan 11-07-2020 'market_data'
nan 11-07-2020 'market_data'
nan 14-07-2020 'market_data'
nan 21-07-2020 'market_data'
nan 21-07-2020 'market_data'
nan 21-07-2020 'market_data'
nan 28-07-2020 'market_data'
nan 28-07-2020 'market_data'
nan 28-07-2020 'market_data'
nan 28-07-2020 'market_data'
nan 16-12-2020 'market_data'
nan 16-12-2020 'market_data'
nan 16-12-2020 'market_data'
nan 16-12-2020 'market_data'
nan 16-12-2020 'market_data'
nan 21-12-2020 'market_data'
nan 21-12-2020 'market_data'
nan 21-12-2020 'market_data'
nan 21-12-2020 'market_data'
nan 21-12-2020 'market_data'
nan 21-12-2020 'market_data'
nan 21-12-2020 'market_data'
nan 21-12-2020 'market_data'
nan 26-12-2020 'market_data'
nan 03-01-2021 'market_data'
nan 08-04-2021 'market_data'
nan 20-04-2021 'market_data'
nan 23-04-2021 'market_data'
nan 23-04-2021 'market_data'
nan 23-04-2021 'market_data'
nan 23-04-2021 'market_data'
nan 04-05-2021 'market_data'
nan 04-05-2021 'market_data'
nan 04-05-2021 'market_data'
nan 04-05-2021 'market_data'
nan 10-05-2021 'market_data'
nan 11-05-2021 'market_data'
nan 12-05-2021 'market_data'
nan 13-05-2021 'market_data'
nan 17-05-2021 'market_data'
nan 17-05-2021 'market_data'
nan 17-05-2021 'market_data'
nan 17-05-2021 'market_data'
nan 17-05-2021 'market_data'
nan 18-05-2021 'market_data'
nan 19-05-2021 'market_data'
nan 19-05-2021 'market_data'
nan 19-05-2021 'market_data'
nan 19-05-2021 'market_data'
nan 19-05-2021 'market_data'
nan 20-05-2021 'market_data'
nan 02-06-2021 'market_data'
nan 04-06-2021 'market_data'
nan 12-06-2021 'market_data'
nan 12-06-2021 'market_data'
nan 12-06-2021 'market_data'
nan 12-07-2021 'market_data'
nan 12-07-2021 'market_data'
nan 12-07-2021 'market_data'
nan 12-07-2021 'market_data'
nan 12-07-2021 'market_data'
nan 12-07-2021 'market_data'
nan 13-07-2021 'market_data'
nan 28-07-2021 'market_data'
nan 28-07-2021 'market_data'
nan 29-07-2021 'market_data'
nan 12-08-2021 'market_data'
nan 13-08-2021 'market_data'
nan 13-08-2021 'market_data'
nan 13-08-2021 'market_data'
nan 13-08-2021 'market_data'
nan 17-08-2021 'market_data'
nan 17-08-2021 'market_data'
nan 18-08-2021 'market_data'
nan 26-08-2021 'market_data'
nan 09-09-2021 'market_data'
nan 09-09-2021 'market_data'
nan 23-09-2021 'market_data'
nan 23-09-2021 'market_data'
nan 23-09-2021 'market_data'
nan 23-09-2021 'market_data'
nan 24-09-2021 'market_data'
nan 24-09-2021 'market_data'
nan 01-10-2021 'market_data'
nan 01-10-2021 'market_data'
nan 01-10-2021 'market_data'
nan 01-10-2021 'market_data'
nan 01-10-2021 'market_data'
nan 01-10-2021 'market_data'
nan 03-10-2021 'market_data'
nan 03-10-2021 'market_data'
nan 03-10-2021 'market_data'
nan 03-10-2021 'market_data'
nan 03-10-2021 'market_data'
nan 04-10-2021 'market_data'
nan 04-10-2021 'market_data'
nan 04-10-2021 'market_data'
nan 06-10-2021 'market_data'
nan 11-10-2021 'market_data'
nan 11-10-2021 'market_data'
nan 12-10-2021 'market_data'
nan 12-10-2021 'market_data'
nan 13-10-2021 'market_data'
nan 16-10-2021 'market_data'
nan 17-10-2021 'market_data'
nan 19-10-2021 'market_data'
nan 19-10-2021 'market_data'
nan 20-10-2021 'market_data'
nan 20-10-2021 'market_data'
nan 20-10-2021 'market_data'
nan 25-10-2021 'market_data'
nan 25-10-2021 'market_data'
nan 25-10-2021 'market_data'
nan 26-10-2021 'market_data'
nan 26-10-2021 'market_data'
nan 26-10-2021 'market_data'
nan 26-10-2021 'market_data'
nan 26-10-2021 'market_data'
nan 26-10-2021 'market_data'
nan 26-10-2021 'market_data'
nan 26-10-2021 'market_data'
nan 26-10-2021 'market_data'
nan 27-10-2021 'market_data'
nan 27-10-2021 'market_data'
nan 27-10-2021 'market_data'
nan 28-10-2021 'market_data'
nan 28-10-2021 'market_data'
nan 28-10-2021 'market_data'
nan 30-10-2021 'market_data'
nan 30-10-2021 'market_data'
nan 30-10-2021 'market_data'
nan 30-10-2021 'market_data'
nan 02-11-2021 'market_data'
nan 02-11-2021 'market_data'
nan 02-11-2021 'market_data'
nan 02-11-2021 'market_data'
nan 02-11-2021 'market_data'
nan 02-11-2021 'market_data'
nan 02-11-2021 'market_data'
nan 03-11-2021 'market_data'
nan 10-11-2021 'market_data'
nan 10-11-2021 'market_data'
nan 10-11-2021 'market_data'
nan 12-11-2021 'market_data'
nan 16-11-2021 'market_data'
nan 16-11-2021 'market_data'
nan 16-11-2021 'market_data'
nan 16-11-2021 'market_data'
nan 18-11-2021 'market_data'
nan 18-11-2021 'market_data'
nan 18-11-2021 'market_data'
nan 19-11-2021 'market_data'
nan 23-11-2021 'market_data'
nan 23-11-2021 'market_data'
nan 24-11-2021 'market_data'
nan 24-11-2021 'market_data'
nan 26-11-2021 'market_data'
nan 26-11-2021 'market_data'
nan 26-11-2021 'market_data'
nan 26-11-2021 'market_data'
nan 26-11-2021 'market_data'
nan 28-11-2021 'market_data'
nan 30-11-2021 'market_data'
nan 01-12-2021 'market_data'
nan 02-12-2021 'market_data'
nan 02-12-2021 'market_data'
nan 03-12-2021 'market_data'
nan 04-12-2021 'market_data'
nan 04-12-2021 'market_data'
nan 04-12-2021 'market_data'
nan 04-12-2021 'market_data'
nan 04-12-2021 'market_data'
nan 04-12-2021 'market_data'
nan 04-12-2021 'market_data'
nan 04-12-2021 'market_data'
nan 04-12-2021 'market_data'
nan 06-12-2021 'market_data'
nan 06-12-2021 'market_data'
nan 06-12-2021 'market_data'
nan 10-12-2021 'market_data'
nan 10-12-2021 'market_data'
nan 12-12-2021 'market_data'
nan 12-12-2021 'market_data'
nan 13-12-2021 'market_data'
nan 15-12-2021 'market_data'
nan 20-12-2021 'market_data'
nan 20-12-2021 'market_data'
nan 20-12-2021 'market_data'
nan 26-12-2021 'market_data'
nan 27-12-2021 'market_data'
nan 28-12-2021 'market_data'
nan 28-12-2021 'market_data'
nan 28-12-2021 'market_data'
nan 31-12-2021 'market_data'
nan 03-01-2022 'market_data'
nan 05-01-2022 'market_data'
nan 06-01-2022 'market_data'
nan 06-01-2022 'market_data'
nan 06-01-2022 'market_data'
nan 07-01-2022 'market_data'
nan 07-01-2022 'market_data'
nan 07-01-2022 'market_data'
nan 08-01-2022 'market_data'
nan 10-01-2022 'market_data'
nan 10-01-2022 'market_data'
nan 10-01-2022 'market_data'
nan 10-01-2022 'market_data'
nan 10-01-2022 'market_data'
nan 16-01-2022 'market_data'

nan 18-01-2022 'market_data'
nan 18-01-2022 'market_data'
nan 20-01-2022 'market_data'
nan 21-01-2022 'market_data'
nan 21-01-2022 'market_data'
nan 21-01-2022 'market_data'
nan 21-01-2022 'market_data'
nan 21-01-2022 'market_data'
nan 21-01-2022 'market_data'
nan 21-01-2022 'market_data'
nan 21-01-2022 'market_data'
nan 21-01-2022 'market_data'
nan 21-01-2022 'market_data'
nan 21-01-2022 'market_data'
nan 22-01-2022 'market_data'
nan 22-01-2022 'market_data'
nan 22-01-2022 'market_data'
nan 22-01-2022 'market_data'
nan 24-01-2022 'market_data'
nan 24-01-2022 'market_data'
nan 24-01-2022 'market_data'
nan 24-01-2022 'market_data'
nan 24-01-2022 'market_data'
nan 24-01-2022 'market_data'
nan 24-01-2022 'market_data'
nan 24-01-2022 'market_data'
nan 24-01-2022 'market_data'
nan 24-01-2022 'market_data'
nan 24-01-2022 'market_data'
nan 24-01-2022 'market_data'
nan 24-01-2022 'market_data'
nan 28-01-2022 'market_data'
nan 28-01-2022 'market_data'
nan 28-01-2022 'market_data'
nan 31-01-2022 'market_data'
nan 05-02-2022 'market_data'
nan 05-02-2022 'market_data'
nan 05-02-2022 'market_data'
nan 06-02-2022 'market_data'
nan 10-02-2022 'market_data'
nan 10-02-2022 'market_data'
nan 10-02-2022 'market_data'
nan 11-02-2022 'market_data'
nan 11-02-2022 'market_data'
nan 11-02-2022 'market_data'
nan 11-02-2022 'market_data'
nan 11-02-2022 'market_data'
nan 11-02-2022 'market_data'
nan 11-02-2022 'market_data'
nan 11-02-2022 'market_data'
nan 12-02-2022 'market_data'
nan 14-02-2022 'market_data'
nan 14-02-2022 'market_data'
nan 14-02-2022 'market_data'
nan 16-02-2022 'market_data'
nan 16-02-2022 'market_data'
nan 16-02-2022 'market_data'
nan 16-02-2022 'market_data'
nan 16-02-2022 'market_data'
nan 16-02-2022 'market_data'
nan 16-02-2022 'market_data'
nan 16-02-2022 'market_data'
nan 17-02-2022 'market_data'
nan 17-02-2022 'market_data'
nan 20-02-2022 'market_data'
nan 20-02-2022 'market_data'
nan 20-02-2022 'market_data'
nan 20-02-2022 'market_data'
nan 20-02-2022 'market_data'
nan 24-02-2022 'market_data'
nan 24-02-2022 'market_data'
nan 25-02-2022 'market_data'
nan 03-03-2022 'market_data'
nan 03-03-2022 'market_data'
nan 07-03-2022 'market_data'
nan 14-03-2022 'market_data'
nan 14-03-2022 'market_data'
nan 14-03-2022 'market_data'

In [3]:
txns = pd.read_csv('updated-txns.csv')

In [4]:
txns['Received Wallet'] = txns['Received Wallet'].str.split(' - ', 1).str[0]
txns['Sent Wallet'] = txns['Sent Wallet'].str.split(' - ', 1).str[0]
txns

,Unnamed: 0.1,Unnamed: 0,Date,Type,Transaction ID,Received Quantity,Received Currency,Received Currency Balance,Received Cost Basis (USD),Received Wallet,...,Sent Address,Sent Tag,Sent Comment,Fee Amount,Fee Currency,Realized Return (USD),Disabled,received_id,sent_id,day
0,0,0,2017-12-12 18:27:37,Buy,NaN,0.563387,LTC,...,320.907411,Coinbase,...,NaN,NaN,Bought Litecoin Using Visa debit ********6305,5.850000,USD,...,NaN,litecoin,NaN,12-12-2017
1,1,1,2017-12-13 04:22:41,Buy,NaN,0.307622,LTC,...,305.277042,Coinbase,...,NaN,NaN,Bought Litecoin Using Visa debit ********6305,3.410000,USD,...,NaN,litecoin,NaN,13-12-2017
2,2,2,2017-12-13 18:35:49,Buy,NaN,0.017821,BTC,...,16525.044489,Coinbase,...,NaN,NaN,Bought Bitcoin Using Visa debit ********6305,9.260000,USD,...,NaN,bitcoin,NaN,13-12-2017
3,3,3,2017-12-15 06:34:23,Buy,NaN,0.141976,ETH,...,693.097064,Coinbase,...,NaN,NaN,Bought Ethereum Using Visa debit ********6305,3.410000,USD,...,NaN,ethereum,NaN,15-12-2017
4,4,4,2017-12-21 16:13:38,Buy,NaN,0.005993,BTC,...,16355.238226,Coinbase,...,NaN,NaN,Bought Bitcoin Using Visa debit ********6305,3.410000,USD,...,NaN,bitcoin,NaN,21-12-2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,395,2022-03-07 01:51:53,Buy,NaN,10.000000,ATOM,...,28.166506,Coinbase Pro,...,NaN,NaN,NaN,1.120000,USD,...,NaN,cosmos,NaN,07-03-2022
396,396,396,2022-03-14 03:19:31,Buy,NaN,500.000000,USDC,...,1.001094,Coinbase Pro,...,NaN,NaN,NaN,NaN,NaN,...,NaN,usd-coin,NaN,14-03-2022
397,397,397,2022-03-14 03:23:17,Transfer,0x693b4e6f0b524a1c4959d86a81f785ff9397bbbb1d4f...,496.485537,USDC,...,1.001094,ETH Wallet ...50a3d5,...,0xEdC5DfEE8d76c45BF367194A4c7Bb808d350a3d5,NaN,NaN,4.515373,USDC,...,NaN,usd-coin,usd-coin,14-03-2022
398,398,398,2022-03-14 03:24:42,Send,e6b25c3f22bf7f7ccc093e6e1354171b1e9d26be747d69...,NaN,NaN,...,1.000000,NaN,...,0xedc5dfee8d76c45bf367194a4c7bb808d350a3d5,NaN,NaN,0.001453,ETH,...,NaN,NaN,ethereum,14-03-2022
399,399,399,2022-03-14 03:25:57,Send,0xae6319252aa5007a911e19cd619ebd745350991e767c...,NaN,NaN,...,1.000000,NaN,...,0xedc5dfee8d76c45bf367194a4c7bb808d350a3d5,NaN,NaN,0.005348,ETH,...,NaN,NaN,usd-coin,14-03-2022

In [30]:
wallets = list(set(list(txns['Received Wallet'].values) + list(txns['Sent Wallet'].values)))
wallets

[nan,
 'Coinbase Pro',
 'ETH Wallet ...C8859C',
 'Binance',
 'Coinbase',
 'ETH Wallet ...50a3d5']

In [31]:
wallets.remove(wallets[0])
wallets

['Coinbase Pro',
 'ETH Wallet ...C8859C',
 'Binance',
 'Coinbase',
 'ETH Wallet ...50a3d5']

In [32]:
names = ['cbpro', 'blockfi', 'binance', 'cb', 'metamask']
wallets = list(zip(wallets, names))
wallets

[('Coinbase Pro', 'cbpro'),
 ('ETH Wallet ...C8859C', 'blockfi'),
 ('Binance', 'binance'),
 ('Coinbase', 'cb'),
 ('ETH Wallet ...50a3d5', 'metamask')]

In [34]:
wmapping = {w[0]:w[1] for w in list(wallets)}
wmapping

{'Coinbase Pro': 'cbpro',
 'ETH Wallet ...C8859C': 'blockfi',
 'Binance': 'binance',
 'Coinbase': 'cb',
 'ETH Wallet ...50a3d5': 'metamask'}

In [35]:
txns['received_wallet'] = txns['Received Wallet'].map(wmapping)
txns['sent_wallet'] = txns['Sent Wallet'].map(wmapping)
txns

,Unnamed: 0.1,Unnamed: 0,Date,Type,Transaction ID,Received Quantity,Received Currency,Received Currency Balance,Received Cost Basis (USD),Received Wallet,...,Sent Comment,Fee Amount,Fee Currency,Realized Return (USD),Disabled,received_id,sent_id,day,received_wallet,sent_wallet
0,0,0,2017-12-12 18:27:37,Buy,NaN,0.563387,LTC,...,320.907411,Coinbase,...,Bought Litecoin Using Visa debit ********6305,5.850000,USD,...,NaN,litecoin,NaN,12-12-2017,cb,cb
1,1,1,2017-12-13 04:22:41,Buy,NaN,0.307622,LTC,...,305.277042,Coinbase,...,Bought Litecoin Using Visa debit ********6305,3.410000,USD,...,NaN,litecoin,NaN,13-12-2017,cb,cb
2,2,2,2017-12-13 18:35:49,Buy,NaN,0.017821,BTC,...,16525.044489,Coinbase,...,Bought Bitcoin Using Visa debit ********6305,9.260000,USD,...,NaN,bitcoin,NaN,13-12-2017,cb,cb
3,3,3,2017-12-15 06:34:23,Buy,NaN,0.141976,ETH,...,693.097064,Coinbase,...,Bought Ethereum Using Visa debit ********6305,3.410000,USD,...,NaN,ethereum,NaN,15-12-2017,cb,cb
4,4,4,2017-12-21 16:13:38,Buy,NaN,0.005993,BTC,...,16355.238226,Coinbase,...,Bought Bitcoin Using Visa debit ********6305,3.410000,USD,...,NaN,bitcoin,NaN,21-12-2017,cb,cb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,395,2022-03-07 01:51:53,Buy,NaN,10.000000,ATOM,...,28.166506,Coinbase Pro,...,NaN,1.120000,USD,...,NaN,cosmos,NaN,07-03-2022,cbpro,cbpro
396,396,396,2022-03-14 03:19:31,Buy,NaN,500.000000,USDC,...,1.001094,Coinbase Pro,...,NaN,NaN,NaN,...,NaN,usd-coin,NaN,14-03-2022,cbpro,cbpro
397,397,397,2022-03-14 03:23:17,Transfer,0x693b4e6f0b524a1c4959d86a81f785ff9397bbbb1d4f...,496.485537,USDC,...,1.001094,ETH Wallet ...50a3d5,...,NaN,4.515373,USDC,...,NaN,usd-coin,usd-coin,14-03-2022,metamask,cbpro
398,398,398,2022-03-14 03:24:42,Send,e6b25c3f22bf7f7ccc093e6e1354171b1e9d26be747d69...,NaN,NaN,...,1.000000,NaN,...,NaN,0.001453,ETH,...,NaN,NaN,ethereum,14-03-2022,NaN,metamask
399,399,399,2022-03-14 03:25:57,Send,0xae6319252aa5007a911e19cd619ebd745350991e767c...,NaN,NaN,...,1.000000,NaN,...,NaN,0.005348,ETH,...,NaN,NaN,usd-coin,14-03-2022,NaN,metamask

In [37]:
txns.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1, inplace=True)

In [38]:
txns

,Date,Type,Transaction ID,Received Quantity,Received Currency,Received Currency Balance,Received Cost Basis (USD),Received Wallet,Received Address,Received Tag,...,Sent Comment,Fee Amount,Fee Currency,Realized Return (USD),Disabled,received_id,sent_id,day,received_wallet,sent_wallet
0,2017-12-12 18:27:37,Buy,NaN,0.563387,LTC,...,320.907411,Coinbase,NaN,NaN,...,Bought Litecoin Using Visa debit ********6305,5.850000,USD,...,NaN,litecoin,NaN,12-12-2017,cb,cb
1,2017-12-13 04:22:41,Buy,NaN,0.307622,LTC,...,305.277042,Coinbase,NaN,NaN,...,Bought Litecoin Using Visa debit ********6305,3.410000,USD,...,NaN,litecoin,NaN,13-12-2017,cb,cb
2,2017-12-13 18:35:49,Buy,NaN,0.017821,BTC,...,16525.044489,Coinbase,NaN,NaN,...,Bought Bitcoin Using Visa debit ********6305,9.260000,USD,...,NaN,bitcoin,NaN,13-12-2017,cb,cb
3,2017-12-15 06:34:23,Buy,NaN,0.141976,ETH,...,693.097064,Coinbase,NaN,NaN,...,Bought Ethereum Using Visa debit ********6305,3.410000,USD,...,NaN,ethereum,NaN,15-12-2017,cb,cb
4,2017-12-21 16:13:38,Buy,NaN,0.005993,BTC,...,16355.238226,Coinbase,NaN,NaN,...,Bought Bitcoin Using Visa debit ********6305,3.410000,USD,...,NaN,bitcoin,NaN,21-12-2017,cb,cb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2022-03-07 01:51:53,Buy,NaN,10.000000,ATOM,...,28.166506,Coinbase Pro,NaN,NaN,...,NaN,1.120000,USD,...,NaN,cosmos,NaN,07-03-2022,cbpro,cbpro
396,2022-03-14 03:19:31,Buy,NaN,500.000000,USDC,...,1.001094,Coinbase Pro,NaN,NaN,...,NaN,NaN,NaN,...,NaN,usd-coin,NaN,14-03-2022,cbpro,cbpro
397,2022-03-14 03:23:17,Transfer,0x693b4e6f0b524a1c4959d86a81f785ff9397bbbb1d4f...,496.485537,USDC,...,1.001094,ETH Wallet ...50a3d5,0xedc5dfee8d76c45bf367194a4c7bb808d350a3d5,NaN,...,NaN,4.515373,USDC,...,NaN,usd-coin,usd-coin,14-03-2022,metamask,cbpro
398,2022-03-14 03:24:42,Send,e6b25c3f22bf7f7ccc093e6e1354171b1e9d26be747d69...,NaN,NaN,...,1.000000,NaN,NaN,NaN,...,NaN,0.001453,ETH,...,NaN,NaN,ethereum,14-03-2022,NaN,metamask
399,2022-03-14 03:25:57,Send,0xae6319252aa5007a911e19cd619ebd745350991e767c...,NaN,NaN,...,1.000000,NaN,NaN,NaN,...,NaN,0.005348,ETH,...,NaN,NaN,usd-coin,14-03-2022,NaN,metamask

In [39]:
txns.to_csv('updated-txns.csv')

In [ ]:
for i, row in txns.iterrows():

In [ ]:
wallets = {k:'' for k in txns.columns}
ids = wallets.index.tolist()
prices = {i:txns.geckoPrice(i, 'usd')[i]['usd'] for i in ids} 
tickers = {i:txns.geckoGetSymbol(i) for i in ids}

In [ ]:
for w in wallets.keys():
    wallets[p] = Wallet(p)
    for i in ids:
        coin = Coin(coin=i, ticker=tickers[i], price=float(prices[i]), holdings=portfolio.loc[i][p])
        platforms[p].add(coin)